body {
    font-family: 'Padauk', sans-serif;
    margin: 0;
    padding: 0;
}



.light-leaks-image-grid {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    z-index: 1;
}

.light-leaks-single-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 1;


}

.light-leaks-horizontal-image-grid {
    grid-template-columns: repeat(1, 1fr); /* Two columns for horizontal images */
}

.light-leaks-vertical-image-grid {
    grid-template-columns: repeat(1, 1fr); /* Three columns for vertical images */
}

.light-leaks-image-item {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 aspect ratio */
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-leaks-image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


@media(max-width: 800px) {
    .light-leaks-single-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        justify-content: center;
        margin-bottom: 30px;
        z-index: 1;
    
    }
    }